.travel-beginner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.transport-item img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px; /* for rounded corners */
}

.transport-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  grid-column-gap: 60px;
  width: 100%;
  max-width: 1300px;
}

.transport-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .transport-list {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
  }
}

p {
  font-size: 20px;
}
