<!-- Dynamically render quiz questions based on their type -->
<div *ngFor="let question of quizQuestions">
  <!-- Render question text -->

  <p>{{ question.question }}</p>

  <!-- Render options for multiple-choice questions -->
  <div *ngIf="question.type === 'multiple-choice'">
    <div *ngFor="let option of question.options">
      <input type="radio" [name]="question.question" [value]="option"> {{option}}
    </div>
  </div>

  <!-- Render textarea for open-ended questions -->
  <div *ngIf="question.type === 'open-ended'">
    <textarea rows="3"></textarea>
  </div>

</div>
<button type="button" (click)="completeQuiz()">Complete quiz</button>
<router-outlet></router-outlet>
