body {
    margin: 0;
    height: 100vh;
    background-image: url('/assets/Babel.jpeg');
    background-size: cover;
    background-position: center;
    font-family: 'Bangers', cursive;
    color: white;
}

.website-name {
    position: absolute;
    top: 0%;
    left: 3%;
    font-size: 14em;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.auth-buttons {
    position: absolute;
    top: 3.5%;

}

.global-back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    font-size: 3.5em;
    cursor: pointer;
    color: black;
}
