.auth-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 2px 2px 8px #aaa;
  background-color: white;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.toggle-button {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
