<!-- auth.component.html -->
<button class="global-back-button" (click)="goBack()">← Back</button>

<div class="auth-container">
    <!-- Render components based on the value of showSignup -->
    <app-signup *ngIf="showSignup"></app-signup>
    <app-register *ngIf="!showSignup"></app-register>
</div>

<!-- Toggle Button at the bottom -->
<div class="toggle-button">
    <button (click)="toggleView()">
        {{ showSignup ? 'Need an account? Register' : 'Already have an account? Sign Up' }}
    </button>
</div>
