.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 600px; /* Set to 100% so it takes up the full width of the parent */
    padding: 40px;
}

.auth-form input, .auth-form button {
    width: 400px;  /* Set to 80% so they take up most of the width of the form */
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

.auth-form h2 {
    font-size: 3.5em;
}

.auth-form label {
    font-size: 2em;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}


.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;  /* Ensuring the container takes up the full width */
}


