<!-- auth.component.html -->
<button class="global-back-button" (click)="goBack()">← Back</button>

<div class="auth-container">
    <!-- Render components based on the value of showSignup -->
    <app-signin *ngIf="showSignin"></app-signin>
    <app-register *ngIf="!showSignin"></app-register>
</div>

<!-- Toggle Button at the bottom -->
<div class="toggle-button">
    <button (click)="toggleView()">
        {{ showSignin ? 'Need an account? Register' : 'Already have an account? Sign in' }}
    </button>
</div>
