<p style="font-size: 62px; text-align: center;">Studyroom</p>

<div>
  <nav *ngIf="!isBackToStudyRoomActive">
    <ul>
      <li><a *ngIf="!isTravelBeginnerActive" routerLink="/studyroom/travel-beginner">Travel Beginner</a></li>
      <li><a *ngIf="!isTravelIntermediateActive" routerLink="/studyroom/travel-intermediate">Travel Intermediate</a></li>
      <li><a *ngIf="!isTravelAdvancedActive" routerLink="/studyroom/travel-advanced">Travel Advanced</a></li>
      <!-- Add other navigation links for work options -->
      <li><a *ngIf="!isWorkBeginnerActive" routerLink="/studyroom/work-beginner">Work Beginner</a></li>
      <li><a *ngIf="!isWorkIntermediateActive" routerLink="/studyroom/work-intermediate">Work Intermediate</a></li>
      <li><a *ngIf="!isWorkAdvancedActive" routerLink="/studyroom/work-advanced">Work Advanced</a></li>
      <!-- Add other navigation links for greetings options -->
      <li><a *ngIf="!isGreetingsBeginnerActive" routerLink="/studyroom/greetings-beginner">Greetings Beginner</a></li>
      <li><a *ngIf="!isGreetingsIntermediateActive" routerLink="/studyroom/greetings-intermediate">Greetings Intermediate</a></li>
      <li><a *ngIf="!isGreetingsAdvancedActive" routerLink="/studyroom/greetings-advanced">Greetings Advanced</a></li>
      <!-- Add other navigation links for greetings options -->
    </ul>
  </nav>

  <a *ngIf="isBackToStudyRoomActive" routerLink="/studyroom">
    <img src="path/to/back-arrow-icon.png" alt="Back to Study Room">
  </a>

  <router-outlet></router-outlet>
</div>
