/* Overall Container Style */
.studyroom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 800px; /* Adjust the max-width based on your design preferences */
  margin: 0 auto;
}

/* Image Style */
.studyroom-container img {
  width: 100%; /* Make the image fill the width of its container */
  height: auto; /* Maintain the aspect ratio */
  max-width: 800px; /* Set a maximum width for the image */
  margin-bottom: 20px; /* Add space between image and text */
}

/* Section Style */
.studyroom-container section {
  margin-bottom: 40px; /* Add space between sections */
}

/* Headings and Paragraph Style */
.studyroom-container h1,
.studyroom-container h2,
.studyroom-container h3,
.studyroom-container p {
  margin: 0; /* Remove default margins to ensure consistent spacing */
}
